* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.register {
  padding: 16px;
}

.register__signin {
  background-color: #f1f1f1;
  text-align: center;
}

.register__input[type=email], .register [type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: white;
}

.register__input[type=email]:focus, .register [type=password]:focus {
  background-color: #ddd;
  outline: none;
}

.register__hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

.login {
  padding: 16px;
}

.login__register {
  background-color: #f1f1f1;
  text-align: center;
}

.login__input[type=email], .login [type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: white;
}

.login__input[type=email]:focus, .login [type=password]:focus {
  background-color: #ddd;
  outline: none;
}

.login__hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.button {
  background-color: #5b645b;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.button:hover {
  background-color: #37aa3d;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}
/*# sourceMappingURL=style.css.map */